@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0px;
    background-color: #0a1d29;
    color: white;
    font-family: "Saira", sans-serif
}

header {
    background-color: #0f2c3e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}

header nav button {
    background-color: transparent;
    border: none;
    color: #ADD3EB;
    height: 60px;
    font-size: 20px;
    font-family: "Saira", sans-serif;
    font-weight: 600;
    padding: 0px 20px;
    cursor: pointer;
    transition: 0.3s;
}

header nav button:hover {
    color: #6fb2c6;
    background-color: #143a52;
}

main { 
    padding-top: 60px;
    display: flex;
}

main > div {
    flex-grow: 1;
    padding: 20px;
}

#details > div {
    background-color: #143a52;
    border-radius: 10px;
    margin: 20px;
    margin-top: 114px;
    margin-left: 0px;
    margin-right: 0px;
    height: calc(100vh - 40px - 60px);
    position: sticky;
    top: 80px;
    overflow: hidden;
    margin-right: 20px;
}

#details section {
    padding: 20px;
}

#details section h1 {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.horizontal-card {
    background-color: #143a52;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    margin-top: 10px;
    max-height: 80px;
    cursor: pointer;
    transition: 0.3s;
    outline: 2px solid transparent;
}

.horizontal-card:hover {
    outline: 2px solid #6fb2c6;
}

.horizontal-card img {
    border-radius: 10px 0px 0px 10px;
    height: 80px;
    width: 150px;
    object-fit: cover;
    margin-right: 10px;
}

.close-button {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #0f2c3e;
    padding: 5px;
    border-radius: 0px 0px 0px 10px;
    cursor: pointer;
}

#favorite-button {
    cursor: pointer;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    gap: 5px;
}

.search-bar input {
    border-radius: 10px 5px 5px 10px;
    padding: 10px;
    border: none;
    height: calc(44px - 20px);

}

.search-bar button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #58b4f6;
    transition: .3s;
    border: none;
    border-radius: 5px 10px 10px 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #95c7f4;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Material icons */
@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialsymbolsrounded/v228/syl0-zNym6YjUruM-QrEh7-nyTnjDwKNJ_190FjpZIvDmUSVOK7BDB_Qb9vUSzq3wzLK-P0J-V_Zs-QtQth3-jOcbTCVpeRL2w5rwZu2rIelXxc.woff2) format('woff2');
}

@font-face {
    font-family: 'Material Symbols Rounded Filled';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialsymbolsrounded/v228/syl0-zNym6YjUruM-QrEh7-nyTnjDwKNJ_190FjpZIvDmUSVOK7BDJ_vb9vUSzq3wzLK-P0J-V_Zs-QtQth3-jOcbTCVpeRL2w5rwZu2rIelXxc.woff2) format('woff2');
}
  
.material-symbols-rounded {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.material-symbols-rounded.filled {
    font-family: 'Material Symbols Rounded Filled';
}